# Exclude all yml files
**/*.yml

# Exclude all files in root
/*

# Include Dockerfile in root
!Dockerfile
!Dockerfile.csharp
!Dockerfile2
!RadonDockerfile
!CpdDockerfile
!BanditDockerfile
!PylintDockerfile

# Include docker-compose.yml
!docker-compose.yml

# Include src directory
!src/

# Run files
*_run.sh

# Copied docker files
Dockerfile
Dockerfile.csharp
Dockerfile2
RadonDockerfile
CpdDockerfile
BanditDockerfile
PylintDockerfile