# Exclude all yml files
**/*.yml

# Exclude all files in root
/*

# Include Dockerfile in root
!Dockerfile
!Dockerfile.csharp
!Dockerfile2
!RadonDockerfile

# Include docker-compose.yml
!docker-compose.yml

# Include src directory
!src/